.card{
    margin-right: 20%;
}
.back{background-color:  #e3d5f3;}



#example1 {
    border: 1px solid;
    box-shadow: 5px 10px purple;
  }


  .card-text{
    margin-top: 5%;
}
.fa-star{
    font-size: 200%;
    margin-right: 5%;
}
.checked {
    color: orange;
  }