<div class="back">
<div class="container">
<br>
    <button (click)="BackToProject()">&lt;&lt;&lt;Back to Projects</button>

  <br><br> 
  <div *ngIf="marked1">
    <div class="row">
    <div class="col-md-6">
    <table>
      <th>{{ fixPro?.project?.project_name }}</th>
      <tr>
        <td>Project Description: </td>
        <td>{{ fixPro?.project?.project_description }}</td>
      </tr>
      <tr>
        <td>Project Category: </td>
        <td>{{ fixPro?.project?.project_category }}</td>
      </tr>
      <tr>
        <td>Payment: </td>
        <td>{{ fixPro?.project?.payment }}</td>
      </tr>
    </table>

    <div *ngIf="!fixPro?.isAccepted">
        <button  (click)="cancleRequest()">Cancle request</button>
    </div>


    <div *ngIf="fixPro?.project?.isCompleted && fixPro?.isAccpted">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Rate
    </button>
  </div>

    </div>

    <div class="col-md-6">
        <div id="example1">
    <img src="{{auth.img_link}}{{ fixPro?.project?.user.profile_img }}" width="200px" height="200px">

    <table class="table col-md-6 mx-left">
      <th>About the client</th>
      <tr>
        <td>Fist Name</td>
        <td>{{ fixPro?.project?.user.first_name }}</td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>{{ fixPro?.project?.user.last_name }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ fixPro?.project?.user.email }}</td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>{{ fixPro?.project?.user.gender }}</td>
      </tr>
      <tr>
        <td>Contact number</td>
        <td>{{ fixPro?.project?.user.contact_no }}</td>
      </tr>
    </table>
  </div>
  </div>
</div>
  </div>

  <div *ngIf="marked2">
    <div class="row">
    <div class="col-md-6">
    <table>
      <th>{{ bidPro?.project?.project_name }}</th>
      <tr>
        <td>Project Description: </td>
        <td>{{ bidPro?.project?.project_description }}</td>
      </tr>
      <tr>
        <td>Project Category: </td>
        <td>{{ bidPro?.project?.project_category }}</td>
      </tr>
      <tr>
        <td>Your bid value: </td>
        <td>{{ bidPro?.bid_value }}</td>
      </tr>
    </table>
    <br>
    <div *ngIf="!bidPro?.isAccepted">
    <div class="card">
    <form (submit)="bidAgain()">
        <label>Enter the bid value:</label>
        <input type="number" name="bid_value" [(ngModel)]="credentials.bid_value"style="margin-left:20%;margin-right:2%">
        <br>
        <button type="submit">Bid again</button>
        <button  (click)="deleteBid()"style="margin-left:5%">Delete the bid</button>
    </form>
  </div>
  </div>

  <div *ngIf="bidPro?.project?.isCompleted && bidPro?.isAccepted">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      Rate
  </button>
  </div>
  </div>

  <div class="col-md-6">

    <div id="example1">
        <img src="{{auth.img_link}}{{ bidPro?.project?.user.profile_img }}" width="200px" height="200px">
        <table class="table  mx-left">
            <th>About the client</th>
            <tr>
              <td>Fist Name</td>
              <td>{{ bidPro?.project?.user.first_name }}</td>
            </tr>
            <tr>
              <td>Last Name</td>
              <td>{{ bidPro?.project?.user.last_name }}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{ bidPro?.project?.user.email }}</td>
            </tr>
            <tr>
              <td>Gender</td>
              <td>{{ bidPro?.project?.user.gender }}</td>
            </tr>
            <tr>
              <td>Contact number</td>
              <td>{{ bidPro?.project?.user.contact_no }}</td>
            </tr>
          </table>
      
      </div>

    
    </div>
    </div>
  </div>

  <div *ngIf="marked3">
    <div class="row">
      <div class="col-md-6">
    <table>
      <th>{{ recPro?.project?.project_name }}</th>
      <tr>
        <td>Project Description: </td>
        <td>{{ recPro?.project?.project_description }}</td>
      </tr>
      <tr>
        <td>Project Category: </td>
        <td>{{ recPro?.project?.project_category }}</td>
      </tr>
      <tr>
        <td>Payment: </td>
        <td>{{ recPro?.project?.payment }}</td>
      </tr>
    </table>

    <div *ngIf="recPro?.project?.isCompleted && recPro?.isAccepted">

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Rate
    </button>

  </div>


    </div>

    <div class="col-md-6">

        <div id="example1">
    <img src="{{auth.img_link}}{{ recPro?.project?.user.profile_img }}" width="200px" height="200px">
  

    <table class="table col-md-6 mx-left">
      <th>About the client</th>
      <tr>
        <td>Fist Name</td>
        <td>{{ recPro?.project?.user.first_name }}</td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>{{ recPro?.project?.user.last_name }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{recPro?.project?.user.email }}</td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>{{ recPro?.project?.user.gender }}</td>
      </tr>
      <tr>
        <td>Contact number</td>
        <td>{{ recPro?.project?.user.contact_no }}</td>
      </tr>

    </table>
    </div>
  </div>
</div>

</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">

                        <div *ngIf="set1">
                          <h5 class="modal-title" *ngIf="rateValue === 0" id="exampleModalLongTitle" style="color:red">
                            Please
                            rate me</h5>
                          <h5 class="modal-title" *ngIf="rateValue !== 0" id="exampleModalLongTitle"
                            style="color:green">
                            Thanks
                            for rating me!</h5>
                        </div>

                        <div *ngIf="!set1">
                          <b style="color: red"> Give your comment here:</b>
                        </div>


                      </div>
                      <div class="modal-body">
                        <div *ngIf="set1">
                          <p *ngIf="rateValue===0" class="card-text">
                            <span (click)="rate(1)" class="fa fa-star "></span>
                            <span (click)="rate(2)" class="fa fa-star"></span>
                            <span (click)="rate(3)" class="fa fa-star "></span>
                            <span (click)="rate(4)" class="fa fa-star "></span>
                            <span (click)="rate(5)" class="fa fa-star"></span>
                          </p>
                          <p *ngIf="rateValue===1" class="card-text">
                            <span (click)="rate(1)" class="fa fa-star checked "></span>
                            <span (click)="rate(2)" class="fa fa-star"></span>
                            <span (click)="rate(3)" class="fa fa-star "></span>
                            <span (click)="rate(4)" class="fa fa-star "></span>
                            <span (click)="rate(5)" class="fa fa-star"></span>
                          </p>
                          <p *ngIf="rateValue===2" class="card-text">
                            <span (click)="rate(1)" class="fa fa-star checked "></span>
                            <span (click)="rate(2)" class="fa fa-star checked "></span>
                            <span (click)="rate(3)" class="fa fa-star "></span>
                            <span (click)="rate(4)" class="fa fa-star "></span>
                            <span (click)="rate(5)" class="fa fa-star"></span>
                          </p>
                          <p *ngIf="rateValue===3" class="card-text">
                            <span (click)="rate(1)" class="fa fa-star checked "></span>
                            <span (click)="rate(2)" class="fa fa-star checked "></span>
                            <span (click)="rate(3)" class="fa fa-star checked"></span>
                            <span (click)="rate(4)" class="fa fa-star "></span>
                            <span (click)="rate(5)" class="fa fa-star"></span>
                          </p>
                          <p *ngIf="rateValue===4" class="card-text">
                            <span (click)="rate(1)" class="fa fa-star checked "></span>
                            <span (click)="rate(2)" class="fa fa-star checked "></span>
                            <span (click)="rate(3)" class="fa fa-star checked"></span>
                            <span (click)="rate(4)" class="fa fa-star checked"></span>
                            <span (click)="rate(5)" class="fa fa-star"></span>
                          </p>
                          <p *ngIf="rateValue===5" class="card-text">
                            <span (click)="rate(1)" class="fa fa-star checked "></span>
                            <span (click)="rate(2)" class="fa fa-star checked "></span>
                            <span (click)="rate(3)" class="fa fa-star checked"></span>
                            <span (click)="rate(4)" class="fa fa-star checked"></span>
                            <span (click)="rate(5)" class="fa fa-star checked"></span>
                          </p>

                        </div>

                        <div *ngIf="!set1">
                          <!-- <ckeditor [(ngModel)]="model.editorData"></ckeditor> -->
                          <textarea rows="8" cols="50" [(ngModel)]="model.editorData"></textarea>
                        </div>

                      </div>
                      <div class="modal-footer">
                        <div *ngIf="set1">
                          <button (click)="sendRate()" type="button" class="btn btn-primary">Rate</button>
                        </div>
                        <div *ngIf="!set1">
                          <button (click)="sendFeedback()" type="button" class="btn btn-primary"
                            data-dismiss="modal">Give feedback</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


</div>

</div>