input[type="file"] {
    display: none;
}

.img1
	{
		position: relative;
		top: 10%;
        left: 50px;
        border-radius:100%;
    
	}
	.img2
	{
		position: absolute;
		top: 65%;
        left: 250px;
        border-radius:100%;
	}
	.info
{
  color: rgba(30, 144, 255, 0.6);
  margin-right: 16px;
}