<!--<ul class="down">
  <li><img src="assets/img/logo.png" height="51px" width="100px"></li>
  <li><a routerLink="/adminCatagory/home">Home</a></li>
 
  <li  style="float:right"><a href="/home/login" class="active" (click)="logout()">Log Out</a></li>

</ul>-->

<div class="back1">

  <div class="a">
       <img class="imag" src="assets/img/logo.png">
       <a routerLink="/adminCatagory/home">Admin Home</a>
      

       <a href="/home/login" (click)="logout()">
            <div class="logout" style="text-align: center;"><b>Log Out</b></div>
       </a>

      
     



  </div>
</div>




<div *ngIf='type =="home"'><app-admin></app-admin></div>
<div *ngIf='type =="baned_users"'><app-baned-users></app-baned-users></div>
